@model ConfigServer.Sample.mvcApp2.Controllers.ConfigViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <p>@Model.Config.Name</p>
    <p>@Model.Config.IsLlamaFarmer</p>
    <p>@Model.Config.LlamaCapacity</p>
    <p>@Model.Config.StartDate</p>
    <p>@Model.Config.Decimal</p>
    <p>@Model.Config.Choice</p>
    <p>@Model.Config.Option.Id : @Model.Config.Option.Description</p>

    @foreach(var option in Model.Options)
    {
        <p>@option.Description : @option.Value</p>

    }

</div>
