@model ConfigServer.Sample.mvcApp2.Models.SampleConfig
@{
    ViewData["Title"] = "Home Page";
}
<div>
        <p>@Model.Name</p>
    <p>@Model.IsLlamaFarmer</p>
    <p>@Model.LlamaCapacity</p>
    <p>@Model.StartDate</p>
    <p>@Model.Decimal</p>
    <p>@Model.Choice</p>

</div>
