@model ConfigServer.Sample.mvc.Models.SampleConfig
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a href="/Configurator">Editor</a>
    <p>@Model.Name</p>
    <p>@Model.IsLlamaFarmer</p>
    <p>@Model.LlamaCapacity</p>
    <p>@Model.StartDate</p>
    <p>@Model.Decimal</p>
    <p>@Model.Choice</p>
    <p>@Model.Option.Id : @Model.Option.Description</p>
    <h3>Options</h3>
    @foreach(var option in Model.MoarOptions)
    {
        <ul>
            <li>@option</li>
        </ul>
    }
    <h3>List</h3>
    @foreach (var config in Model.ListOfConfigs)
    {
        <ul>
            <li>@config.Name : @config.Value</li>
        </ul>
    }
</div>
