@model ConfigServer.Sample.mvc.Models.SampleConfig
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a href="/Configurator">Editor</a>
    <p>@Model.Name</p>
    <p>@Model.IsLlamaFarmer</p>
    <p>@Model.LlamaCapacity</p>
    <p>@Model.StartDate</p>
    <p>@Model.Decimal</p>
    <p>@Model.Choice</p>

</div>
